.login {
	flex: 1;
  text-align: center;
}

.login-logo {
  animation: login-logo-spin infinite 20s linear;
  height: 80px;
}

.login-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.login-title {
  font-size: 1.5em;
}

.login-intro {
  font-size: large;
}

@keyframes login-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
