.index {
	flex: 1;
	text-align: center;
}
.nav {
	display: flex;
	justify-content: space-around;
	padding: 40px 10px;
}
.nav > a {
	font-size: 24px;
	color: #ccc;
}
.index > article {
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
}
